@model CatChef
<div class="m-2 jumbotron">
    <h1 class="display-3">Add a Cat-Chef</h1>
    <hr class="my-2">
    <a href="/">Home</a>
</div>
.<div class="m-2 jumbotron">
    <form asp-action="CreateCat" asp-controller="Home" method="post">
        .<div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
        </div>
        <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
        </div>
        <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="CatType"></span>
            <label asp-for="CatType"></label>
            <input asp-for="CatType">
        </div>
            <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="Birthday"></span>
            <label asp-for="Birthday"></label>
            <input type="date" asp-for="Birthday">
        </div>
        <div class="p-2 d-flex flex-column col-lg-2">
            <input type="submit" value="Add Cat" class="btn btn-outline-secondary">
        </div>
        </form>
    </div>