@model Dish
<div class="m-2 jumbotron">
    <h1 class="display-3">Add a Dish</h1>
    <hr class="my-2">
    <a href="/">Home</a>
</div>
.<div class="m-2 jumbotron">
    <form asp-action="CreateDish" asp-controller="Home" method="post">
        <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="DishName"></span>
            <label asp-for="DishName"></label>
            <input asp-for="DishName">
        </div>
            <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="Tastiness"></span>
            <label asp-for="Tastiness"></label>
            <input asp-for="Tastiness">
        </div>
            <div class="p-2 d-flex flex-column col-lg-2">
            <span asp-validation-for="Calories"></span>
            <label asp-for="Calories"></label>
            <input asp-for="Calories">
        </div>
        <div class="p-2 d-flex flex-column col-lg-2">
            <label asp-for="Creator"></label>
            <select asp-for="CatId">
                <option>---Select Option---</option>
                @foreach(var cat in ViewBag.Cats){
                <option value="@cat.CatId">@cat.FirstName</option>
                }
            </select>
        </div>
        <div class="p-2 d-flex flex-column col-lg-2">
            <input type="submit" value="Add Dish" class="btn btn-outline-secondary">
        </div>
        </form>
    </div>