@model Dish

<div class="m-2 float-right">
    <h3><a href="/AddDish">Add A Dish</a></h3>
</div>
<div class="m-5 text-center">
    <h1><a href="/">Chefs</a>  |  Dishes</h1>
</div>
    <div class="col-lg">
        <h3>Dishes</h3>
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Sport</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td scope="row">Here</td>
                        <td>Is</td>
                        <td>Some</td>
                        <td>Mock Data</td>
                    </tr>
                  
                </tbody>
        </table>
    </div>